<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inter:wght@900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>JJMEET</title>
</head>
<body>
    <h1>JJMeet!</h1>
    <div>
        <label class="switch">
            <input id="mic" name="mic" type="checkbox">
            <span class="slider round"></span>
        </label>
        <label class="switch">
            <input id="cam" name="cam" type="checkbox">
            <span class="slider round"></span>
        </label>
    </div>
    <div>
        <label class="switch">
            Mic
        </label>
        <label class="switch">
            Cam
        </label>
    </div>
    <div id="video-grid"></div>
</body>
</html>