<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
      const ROOM_ID = "<%= roomId %>";
    </script>
    <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/script.js" defer></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Inter:wght@900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <title>JJMEET</title>
  </head>
  <body>
    <h1>JJMeet!</h1>
    <div>
      <label class="switch">
        <input id="mic" name="mic" type="checkbox" />
        <span class="slider round"></span>
      </label>
      <label class="switch">
        <input id="cam" name="cam" type="checkbox" />
        <span class="slider round"></span>
      </label>
    </div>
    <div>
      <label class="switch"> Mic </label>
      <label class="switch"> Cam </label>
    </div>
    <div>
      <label>
        <span title="Apply Bandpass filter">Noise Filter</span>
        <input
          title="Apply Bandpass filter"
          id="noise-filter"
          name="noise-filter"
          type="checkbox"
        />
      </label>
      &#183;
      <label>
        <span> F<sub>min</sub></span>
        <input
          id="frequency-min"
          class="frequency-numeric-input"
          type="number"
          min="0"
          max="10000"
          value="1000"
          disabled
        />
        Hz
      </label>
      &#183;
      <label>
        <span> F<sub>max</sub></span>
        <input
          id="frequency-max"
          class="frequency-numeric-input"
          type="number"
          min="0"
          max="10000"
          value="2000"
          disabled
        />
        Hz
      </label>
    </div>
    <div id="video-grid"></div>
  </body>
</html>
